# Mac system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# C++ Compiled binaries / Executables
*.out
*.dSYM/

# Ignore compiled files without extensions (common on Mac)
# If you have specific binaries like bubbleSort or hello, ignore them manually:
bubbleSort
changeMaker
hello
asciiTable
chessSquareColor
clock15min
collatzSequence
commaFormatNum
convertIntToStr
convertStrToInt
drawBox
drawPyramid
drawRectangle
findAndReplace
findAndReplace_cpp
fizzBuzz
generatePassword
getCoffeeCost
getHoursMinutesSeconds
getMin_cpp
handShakes
heat_eq
isOdd
leapYear
linked_list
list
malloc
median
mergeTwoLists
multiplicationTable
ordinalSuffix
pascalTriangle
pascalTriangle_2
phonebook
pointer
randomShuffle
readWriteFile
recursiveHalfPyramid
reverseString
rollDice
rot13Encryption
rpsGame
score
selection
sumProduct
tempConv
titleCase
upperCase

# Compiled Object files
*.o
*.ko
*.obj
*.gch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.so
*.dylib.*
*.so.*

# Executables
*.out
*.app
*.exe

# Build Directories (e.g., CMake, Xcode)
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
*.xcodeproj
*.xcworkspace
xcuserdata/

# Step 1: Ignore absolutely everything in the directory
*

# Step 2: Un-ignore all files that actually have an extension (like .cpp, .h)
!*.*

# Step 3: Un-ignore subdirectories so Git can still look inside them
!*/